<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">
    <select id="listCategoryByPage" resultType="com.sky.entity.Category">
        select * from category
        <where>
            <if test='name != null and name != " "'>
                name like concat("%", #{name}, "%")
            </if>
            <if test='type != null'>
                and type = #{type}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="getCategoryByType" resultType="com.sky.entity.Category">
        select * from category
        <where>
            <if test='id != null'>
                id = #{categoryId}
            </if>
        </where>
    </select>
    <update id="updateCategory" parameterType="category">
        update category
        <set>
            <if test='name!=null and name!=" "'>name = #{name},</if>
            <if test='sort!=null and sort!=" "'>sort = #{sort},</if>
            <if test='status!=null'>status = #{status},</if>
        </set>
        where id = #{id}

    </update>
</mapper>