<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders(number, status, user_id, address_book_id, order_time, pay_method, pay_status, amount, remark, phone, address, user_name, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number, tableware_status)
        VALUES(#{number},#{status},#{userId},#{addressBookId},#{orderTime},#{payMethod},#{payStatus},#{amount},#{remark},#{phone},#{address},#{userName},#{consignee},#{estimatedDeliveryTime},#{deliveryStatus},#{packAmount},#{tablewareNumber},#{tablewareStatus})

    </insert>
    <!--    <update id="update" parameterType="Dish">-->
    <!--        update Dish-->
    <!--        <set>-->
    <!--            <if test='name != null and name != " "'>name = #{name},</if>-->
    <!--            <if test='categoryId != null'>category_id = #{categoryId},</if>-->
    <!--            <if test='price != null'>price = #{price},</if>-->
    <!--            <if test='image != null'>image = #{image},</if>-->
    <!--            <if test='description != null'>description = #{description},</if>-->
    <!--            <if test='updateTime != null'>update_time = #{updateTime},</if>-->
    <!--            <if test='updateUser != null'>update_user = #{updateUser},</if>-->
    <!--            <if test='status != null'>status = #{status},</if>-->
    <!--        </set>-->
    <!--        where id = #{id}-->
    <!--    </update>-->
    <!--    <delete id="deleteBatch">-->
    <!--        delete from dish where id in-->
    <!--        <foreach collection="ids" item="id" open="(" separator="," close=")">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </delete>-->
    <!--    <select id="getDishByPage" resultType="com.sky.entity.Dish">-->
    <!--        select * from dish-->
    <!--        <where>-->
    <!--            <if test='name != null and name != " "'>-->
    <!--                name like concat("%", #{name}, "%")-->
    <!--            </if>-->
    <!--            <if test='categoryId != null'>-->
    <!--                and category_id = #{categoryId}-->
    <!--            </if>-->
    <!--            <if test='status != null'>-->
    <!--                and status = #{status}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        order by create_time desc-->
    <!--    </select>-->
</mapper>