<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
    <insert id="insert">
        insert into shopping_cart(name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time) VALUES
            (#{name},#{image},#{userId},#{dishId},#{setmealId},#{dishFlavor},#{number},#{amount},#{createTime})
    </insert>
    <insert id="insertBatch" parameterType="list">
        insert into shopping_cart
        (name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time)
        values
        <foreach collection="shoppingCartList" item="sc" separator=",">
            (#{sc.name},#{sc.image},#{sc.userId},#{sc.dishId},#{sc.setmealId},#{sc.dishFlavor},#{sc.number},#{sc.amount},#{sc.createTime})
        </foreach>

    </insert>
    <select id="list" resultType="shoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">user_Id = #{userId}</if>
            <if test="dishId != null">and dish_Id = #{dishId}</if>
            <if test="setmealId != null">and setmeal_Id = #{setmealId}</if>
            <if test="dishFlavor != null">and dish_flavor = #{dishFlavor}</if>
        </where>
        order by create_time desc
    </select>
    <!--    <update id="update" parameterType="Dish">-->
    <!--        update Dish-->
    <!--        <set>-->
    <!--            <if test='name != null and name != " "'>name = #{name},</if>-->
    <!--            <if test='categoryId != null'>category_id = #{categoryId},</if>-->
    <!--            <if test='price != null'>price = #{price},</if>-->
    <!--            <if test='image != null'>image = #{image},</if>-->
    <!--            <if test='description != null'>description = #{description},</if>-->
    <!--            <if test='updateTime != null'>update_time = #{updateTime},</if>-->
    <!--            <if test='updateUser != null'>update_user = #{updateUser},</if>-->
    <!--            <if test='status != null'>status = #{status},</if>-->
    <!--        </set>-->
    <!--        where id = #{id}-->
    <!--    </update>-->
    <!--    <delete id="deleteBatch">-->
    <!--        delete from dish where id in-->
    <!--        <foreach collection="ids" item="id" open="(" separator="," close=")">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </delete>-->
</mapper>